<section id="about" class="about">
  <div class="about__inner">
    <h1 class="about__title">Про меня</h1>
    <p class="about__text">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium animi autem consequatur laudantium optio
      perferendis porro quod. Aliquid consequatur cum cumque nobis repellat reprehenderit voluptate. At consectetur
      consequatur dicta dolorum ea error, facere facilis fugit harum in minus mollitia optio placeat ratione repellat
      saepe sequi similique soluta, vitae voluptatem? Accusamus aliquam animi architecto, cupiditate delectus
      dignissimos ea eius eos eveniet fugiat fugit hic impedit in ipsa ipsum labore libero magni minima modi nam
      necessitatibus neque numquam perspiciatis placeat quae, quas quasi quia quibusdam quidem ratione rem rerum
      sapiente tempora tenetur vitae voluptates voluptatum? Exercitationem, ipsa ipsam maiores nisi nostrum odio!
    </p>
  </div>
</section>
