{
  "plugins": [
    "stylelint-scss",
    "stylelint-selector-bem-pattern"
  ],
  "extends": [
    "stylelint-config-standard",
    "stylelint-config-recess-order"
  ],
  "rules": {
    "indentation": 2,
    "at-rule-no-unknown": null,
    "plugin/selector-bem-pattern": [
      {
        "implicitComponents": true,
        "componentName": "[-a-z]+",
        "componentSelectors": {
          "initial": "^(\\.{componentName}(__[a-z]+|--[-a-z0-9]+|__[-a-z]+--[-a-z0-9]+|.[-a-z]+|__[a-z]+.[-a-z]+)?)$",
          "combined": "^.+$"
        },
        "ignoreSelectors": [
          "^\\.(no-)?js(-modal-open)?$",
          "a(\\[[a-z]+|:[a-z]+)?",
          "h[1-6]",
          "pre",
          "blockquote",
          "thead",
          "tr",
          "img",
          "img",
          "p",
          "table",
          "^&:empty",
          "#{\\$[-a-z]+}__[-a-z]+",
          "^\\*$"
        ]
      },
      {
        "severity": "warning",
        "message": "Селектор не из имени файла или БЭМ-ошибка"
      }
    ]
  }
}
