<section class="offer">
  <div class="offer__inner">
    <div class="offer__content">
      <h2 class="offer__title">Waxom Multipurpose WordPress Theme</h2>
      <p class="offer__lead">Don't Forget to Rate the Template. Thanks so much!</p>
    </div>
    <div class="offer__button">
      <%- include('../button/button.ejs', {text: "Purchase Now"}) %>
    </div>
  </div>
</section>
