$main-text-color: #fff;
$accent-color: #c7b299;
$main-bg-color: #191919;
$darken-bg: #fbfaf8;
$common-bg: #fff;
$intro-bg: #fbfaf8;
$main-gradient: 'linear-gradient(to right, #211b19 0%, #4e3427 100%)';
$card-content: #fbfaf8;
$card-content-hover: #362f2d;
