@import "node_modules/@glidejs/glide/src/assets/sass/glide.core";
@import "../../style/helpers/mixins/adaptiv-font";

.hero {
  position: relative;
  min-height: 100vh;
  font-family: Raleway, sans-serif;
  font-weight: 600;
  background: fixed no-repeat top/cover;

  &--slider {
    min-height: unset;
    background: none !important;

    @extend %container;

    .hero__slide {
      height: unset;
    }
  }

  picture {
    width: 100%;

    .hero__image {
      width: 100%;
      max-height: 600px;
      object-fit: cover;
    }
  }

  &__content {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 10;
    transform: translate(-50%, -50%);
  }

  //&__track {
  //  position: relative;
  //  z-index: 10;
  //}

  &__overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 5;
    background-color: #000;
    opacity: 0.5;
  }

  &__slide {
    position: relative;
    z-index: 6;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-size: 120px;
  }

  &__control-arrow {
    position: absolute;
    top: 50%;
    left: 7%;
    z-index: 10;
    cursor: pointer;
    background-color: transparent;
    border: none;
    transform: translateY(-50%);

    @media #{$mobile} {
      display: none;
    }

    &:focus {
      outline: none;
    }

    &--right {
      right: 7%;
      left: unset;
      transform: rotate(180deg) translateY(50%);
    }
  }

  &__image {
    position: relative;
    z-index: 3;
  }

  &__pagination {
    position: absolute;
    bottom: 40px;
    left: 50%;
    z-index: 10;
    transform: translateX(-50%);
  }

  .glide__bullet--active.hero__bullet {
    width: 15px;
    height: 15px;
    background-color: transparent;
    border: 2px solid #d3c1ad;
  }

  &__nav-closer {
    color: $accent-color;
  }

  &__title {
    position: relative;
    z-index: 10;
    margin: 15px 0;
    font-family: Raleway, sans-serif;
    font-weight: 600;
    color: #fff;
    text-align: center;

    @include adaptiv-font(56, 24);
  }

  &__sub-title {
    position: relative;
    z-index: 10;
    font-family: Raleway, sans-serif;
    font-weight: 500;
    color: #fff;
    text-align: center;

    @include adaptiv-font(36, 16);
  }

  &__lead {
    position: relative;
    z-index: 10;
    font-family: Montserrat, sans-serif;
    font-weight: 300;
    color: #fff;
    text-align: center;

    @include adaptiv-font(18, 10);
  }

  &__bullet {
    width: 11px;
    height: 11px;
    cursor: pointer;
    background-color: #999797;
    border: none;
    border-radius: 50%;

    &:focus {
      border: none;
      outline: none;
    }
  }
}
