@import "node_modules/@glidejs/glide/src/assets/sass/glide.core";

.hero {
  position: relative;
  min-height: 100vh;
  background: fixed no-repeat center/cover;

  &__overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #000;
    opacity: 0.5;
  }

  &__slide {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-size: 120px;
  }

  &__control-arrow {
    position: absolute;
    top: 50%;
    left: 7%;
    cursor: pointer;
    background-color: transparent;
    border: none;
    transform: translateY(-50%);

    &--right {
      right: 7%;
      left: unset;
      transform: rotate(180deg) translateY(50%);
    }
  }

  &__pagination {
    position: absolute;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%);
  }

  .glide__bullet--active.hero__bullet {
    width: 15px;
    height: 15px;
    background-color: transparent;
    border: 2px solid #d3c1ad;
  }

  &__bullet {
    width: 11px;
    height: 11px;
    cursor: pointer;
    background-color: #999797;
    border: none;
    border-radius: 50%;

    &:focus {
      border: none;
      outline: none;
    }
  }
}
