<section id="hero" class="hero hero--without-slider" style="background-image: url('images/hero-bg-0.png')">
    <div class="hero__overlay"></div>
    <div class="hero__inner">
        <div class="hero__slide">
            <h1 class="hero__title">Электроника для ваших проектов</h1>
            <h3 class="hero__lead">Разработка принципиальных схем, многослойных печатных плат и устройств различной сложости</h3>
        </div>
    </div>
</section>
