.portfolio {
  padding: 80px 0;

  &__inner {
    @extend %container;
  }

  &__desc {
    text-align: center;
  }

  &__title {
    margin-bottom: 25px;
    font-family: Raleway, sans-serif;
    font-size: 30px;
    font-weight: 400;
    color: #555;
  }

  &__text {
    margin-bottom: 40px;
    font-family: Montserrat, sans-serif;
    font-size: 16px;
    font-weight: 300;
    color: #8c8c8c;
  }

  &__tabs {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    overflow-x: auto;
    font-family: Montserrat, sans-serif;
  }

  &__tab {
    padding: 8px 20px;
    text-align: center;
    white-space: nowrap;
    cursor: pointer;
    border: 1px solid #ebebeb;
    border-radius: 3px;

    &:not(:last-child) {
      margin-right: 1%;

      @media #{$mobile} {
        margin-right: 0;
        margin-bottom: 10px;
      }
    }

    &--active {
      color: #fff;
      background-color: #998675;
    }
  }

  &__wrapper {
    display: flex;
    flex-wrap: wrap;
    align-content: stretch;
    align-items: stretch;
    justify-content: center;
    margin-top: 40px;
  }

  &__content {
    position: relative;
    padding: 30px;
    background-color: $card-content;
    transition: all 0.4s;

    &::after {
      position: absolute;
      top: -20px;
      left: 5.5%;
      width: 0;
      height: 0;
      content: '';
      border-top: 10px solid transparent;
      border-right: 15px solid transparent;
      border-bottom: 10px solid $card-content;
      border-left: 15px solid transparent;
      transition: all 0.4s;
    }
  }

  &__card-title {
    margin-bottom: 15px;
    font-family: Raleway, sans-serif;
    font-size: 20px;
    font-weight: 500;
    color: #c7b299;
  }

  &__card-text {
    font-family: Montserrat, sans-serif;
    font-size: 14px;
    font-weight: 300;
    color: #d1d1d1;
  }

  &__img {
    position: relative;

    img {
      width: 100%;
      object-position: top;
      max-height: 225px;
      object-fit: cover;
    }
  }

  &__overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000;
    opacity: 0;
    transition: 0.4s;
  }

  &__link,
  &__all {
    width: 25px;
    height: 25px;
    cursor: pointer;
    background: no-repeat center;
  }

  &__link {
    margin-right: 25px;
    background-image: url("../../images/link.png");
  }

  &__all {
    background-image: url("../../images/search.png");
  }

  &__card {
    flex-basis: 30%;
    flex-shrink: 1;
    min-width: 320px;
    margin-right: 2.5%;
    margin-bottom: 30px;

    @media #{$mobile} {
      flex-basis: 100%;
      margin-right: 0 !important;
      margin-bottom: 30px !important;
    }

    &--hidden {
      display: none;
    }

    &:hover {
      .portfolio__content {
        background-color: $card-content-hover;

        &::after {
          border-bottom-color: $card-content-hover;
        }
      }

      .portfolio__card-title {
        color: #fff;
      }

      .portfolio__card-text {
        color: #c7b299;
      }

      .portfolio__overlay {
        opacity: 0.6;
      }
    }
  }
}
