<section id="portfolio" class="portfolio">
  <div class="portfolio__inner">
    <div class="portfolio__desc">
      <h2 class="portfolio__title">Мои проекты</h2>
    </div>
    <div class="portfolio__tabs">
      <div data-tag="all" class="portfolio__tab portfolio__tab--active">Все</div>
      <div data-tag="digital" class="portfolio__tab">Цифровые</div>
      <div data-tag="strong" class="portfolio__tab">Силовые</div>
      <div data-tag="personal" class="portfolio__tab">Личные</div>
      <div data-tag="team" class="portfolio__tab">Командные</div>
    </div>
    <div class="portfolio__wrapper">
      <div data-tag="personal" class="portfolio__card">
        <div class="portfolio__img">
          <img src="../../images/shnec.png" alt="phone">
          <div class="portfolio__overlay">
          </div>
        </div>
        <div class="portfolio__content">
          <h3 class="portfolio__card-title">Shnecobot</h3>
          <div class="portfolio__card-text">Цифровой, Силовой, Личный</div>
        </div>
      </div>
      <div data-tag="team" class="portfolio__card">
        <div class="portfolio__img">
          <img src="../../images/home++.png" alt="some">
          <div class="portfolio__overlay">
          </div>
        </div>
        <div class="portfolio__content">
          <h3 class="portfolio__card-title">Модули умного дома Home++</h3>
          <div class="portfolio__card-text">Цифровой, Командный</div>
        </div>
      </div>
      <div data-tag="digital" class="portfolio__card">
        <div class="portfolio__img">
          <img src="../../images/engine.png" alt="sometoo">
          <div class="portfolio__overlay">
          </div>
        </div>
        <div class="portfolio__content">
          <h3 class="portfolio__card-title">Контроллер мотора в роборуке</h3>
          <div class="portfolio__card-text">Цифровой, Личный</div>
        </div>
      </div>
      <div data-tag="personal" class="portfolio__card">
        <div class="portfolio__img">
          <img src="../../images/driver.png" alt="some">
          <div class="portfolio__overlay">
          </div>
        </div>
        <div class="portfolio__content">
          <h3 class="portfolio__card-title">Драйвер двигателей для UNO</h3>
          <div class="portfolio__card-text">Силовой, Личный</div>
        </div>
      </div>
      <div data-tag="strong" class="portfolio__card">
        <div class="portfolio__img">
          <img src="../../images/control.png" alt="alt">
          <div class="portfolio__overlay">
          </div>
        </div>
        <div class="portfolio__content">
          <h3 class="portfolio__card-title">Контроллер высокой мощности</h3>
          <div class="portfolio__card-text">Силовой</div>
        </div>
      </div>
      <div data-tag="personal" class="portfolio__card">
        <div class="portfolio__img">
          <img src="../../images/data-logger.png" alt="sometoo">
          <div class="portfolio__overlay">
          </div>
        </div>
        <div class="portfolio__content">
          <h3 class="portfolio__card-title">Data logger - модуль телеметрии</h3>
          <div class="portfolio__card-text">Цифровой, Личный</div>
        </div>
      </div>
    </div>
  </div>
</section>
