<footer class="footer">
  <div class="footer__inner">
    <div class="footer__col">
      <div class="footer__item">Telegram: <a class="footer__link" href="">@AndrWhite</a></div>
    </div>
    <div class="footer__col">
      <div class="footer__item">Designed by ThemeFire | Only on Envato Market</div>
    </div>
  </div>
</footer>
