<div id="services" class="service">
  <div class="service__inner">
    <div data-index="0" class="service__item">
      <div class="service__icon">
        <img src="../../images/pen.png" alt="pen">
      </div>
      <h3 class="service__title">Схемотехника</h3>
      <p class="service__text">Сложная проектируемая схема может быть разбита иерархически или Функционально</p>
    </div>
    <div data-index="1" class="service__item">
      <div class="service__icon">
        <img src="../../images/stack.png" alt="stack">
      </div>
      <h3 class="service__title">Печатные платы</h3>
      <p class="service__text">Разработка многослойных печатных плат на основе уже готовых схем или с их заказом</p>
    </div>
    <div data-index="2" class="service__item">
      <div class="service__icon">
        <img src="../../images/costomizetion.png" alt="settings">
      </div>
      <h3 class="service__title">Устройство</h3>
      <p class="service__text">Вместе с проектированием схемыи платы могут быть разработаны корпус или другие детали
        устр-ва</p>
    </div>
    <div data-index="3" class="service__item">
      <div class="service__icon">
        <img src="../../images/folder.png" alt="folder">
      </div>
      <h3 class="service__title">Документация</h3>
      <p class="service__text">Вывод любого типа документации по проекту - от BOM до Gerber и PDF версии схем, плат и
        чертежей</p>
    </div>
  </div>
</div>
