<div class="stat">
  <div class="stat__icon">
    <img src="../../images/<%=icon%>" alt="icon">
  </div>
  <div class="stat__number"><%=number%></div>
  <div class="stat__name"><%=name%></div>
</div>
