.intro {
  padding: 40px 0;
  text-align: center;
  background-color: $intro-bg;

  &__item {
    display: flex;
    align-items: center;
    user-select: text;

    @media #{$tablet} {
      display: block;
    }
  }

  &__inner {
    @extend %container;
  }

  &__content {
    flex-basis: 50%;
    margin-right: 5%;
  }

  &__img {
    flex-basis: 45%;
  }

  &__title {
    font-family: Raleway, sans-serif;
    font-size: 30px;
    font-weight: 400;
    color: #555;
  }

  &__text {
    margin: 25px 0 40px;
    font-family: Montserrat, sans-serif;
    font-size: 16px;
    font-weight: 300;
    color: #8c8c8c;
  }
}
