.intro {
  padding-top: 80px;
  text-align: center;
  background-color: $intro-bg;

  &__inner {
    @extend %container;
  }

  &__title {
    font-family: Raleway, sans-serif;
    font-size: 30px;
    font-weight: 400;
    color: #555;
  }

  &__text {
    margin: 25px 0 40px;
    font-family: Montserrat, sans-serif;
    font-size: 16px;
    font-weight: 300;
    color: #8c8c8c;
  }
}
