<section class="intro">
  <div class="intro__inner">
    <div class="glide intro__slider">
      <div class="glide__track" data-glide-el="track">
        <div class="glide__slides">
          <div class="glide__slide intro__item">
            <div class="intro__content">
              <h1 class="intro__title">Трассировка многослойных печатных плат</h1>
              <p class="intro__text">В зависимости от уровня сложности, рабочей частоты схемы, габаритов и стоимости,
                платы
                могут быть однослойные, двухслойные и четырехслойные. С установкой компонентов как с одной так и с двух
                сторон.
                Монтаж компонентов может быть поверхностным и сквозным в зависимости от характеристик платы. Подготовка
                полного
                пакета документации (BOM, Gerber, CPL, PNP) для производства плат и расстановки компонентов. Также можно
                выводить трехмерные модели платы с компонентами для фотореалистичных изображений.

                Комментарий: Слева представлен стек четырехслойной платы и ее трехмерная модель.</p>
            </div>
            <div class="intro__img"><img src="../../images/intro-img.png" alt="intro"></div>
          </div>
          <div class="glide__slide intro__item">
            <div class="intro__content">
              <h1 class="intro__title">Трассировка многослойных печатных плат</h1>
              <p class="intro__text">В зависимости от уровня сложности, рабочей частоты схемы, габаритов и стоимости,
                платы
                могут быть однослойные, двухслойные и четырехслойные. С установкой компонентов как с одной так и с двух
                сторон.
                Монтаж компонентов может быть поверхностным и сквозным в зависимости от характеристик платы. Подготовка
                полного
                пакета документации (BOM, Gerber, CPL, PNP) для производства плат и расстановки компонентов. Также можно
                выводить трехмерные модели платы с компонентами для фотореалистичных изображений.

                Комментарий: Слева представлен стек четырехслойной платы и ее трехмерная модель.</p>
            </div>
            <div class="intro__img"><img src="../../images/intro-img.png" alt="intro"></div>
          </div>
          <div class="glide__slide intro__item">
            <div class="intro__content">
              <h1 class="intro__title">Трассировка многослойных печатных плат</h1>
              <p class="intro__text">В зависимости от уровня сложности, рабочей частоты схемы, габаритов и стоимости,
                платы
                могут быть однослойные, двухслойные и четырехслойные. С установкой компонентов как с одной так и с двух
                сторон.
                Монтаж компонентов может быть поверхностным и сквозным в зависимости от характеристик платы. Подготовка
                полного
                пакета документации (BOM, Gerber, CPL, PNP) для производства плат и расстановки компонентов. Также можно
                выводить трехмерные модели платы с компонентами для фотореалистичных изображений.

                Комментарий: Слева представлен стек четырехслойной платы и ее трехмерная модель.</p>
            </div>
            <div class="intro__img"><img src="../../images/intro-img.png" alt="intro"></div>
          </div>
          <div class="glide__slide intro__item">
            <div class="intro__content">
              <h1 class="intro__title">Трассировка многослойных печатных плат</h1>
              <p class="intro__text">В зависимости от уровня сложности, рабочей частоты схемы, габаритов и стоимости,
                платы
                могут быть однослойные, двухслойные и четырехслойные. С установкой компонентов как с одной так и с двух
                сторон.
                Монтаж компонентов может быть поверхностным и сквозным в зависимости от характеристик платы. Подготовка
                полного
                пакета документации (BOM, Gerber, CPL, PNP) для производства плат и расстановки компонентов. Также можно
                выводить трехмерные модели платы с компонентами для фотореалистичных изображений.

                Комментарий: Слева представлен стек четырехслойной платы и ее трехмерная модель.</p>
            </div>
            <div class="intro__img"><img src="../../images/intro-img.png" alt="intro"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
