<header class="header">
    <div class="header__inner">
        <div class="header__logo"><img src="../../images/logo.png" alt="logo"></div>
        <nav class="header__navbar">
            <a href="" class="header__link">Home</a>
            <a href="" class="header__link">About Us</a>
            <a href="" class="header__link">Portfolio</a>
            <a href="" class="header__link">Features</a>
            <a href="" class="header__link">Blog</a>
            <a href="" class="header__link">Pricing</a>
            <a href="" class="header__link">Shortcodes</a>
            <a href="" class="header__link">Contact</a>
        </nav>
    </div>
</header>
