<header class="header">
  <div class="header__inner">
    <div class="header__logo">Андрей Белов</div>
    <nav class="header__navbar header__navbar--close">
      <div class="header__nav-closer">
        <img src="../../images/cross.svg" alt="cross">
      </div>
      <a href="#hero" class="header__link">Начало</a>
      <a href="#services" class="header__link">Услуги</a>
      <a href="#portfolio" class="header__link">Портфолио</a>
    </nav>
    <div class="header__nav-opener">
      <img src="../../images/menu.svg" alt="menu">
    </div>
  </div>
</header>
